<mat-dialog-content>
  <div class="col-lg-12 seat-container">
    <div *ngFor="let seatrow of seatmap ">
      <div class="col-12 pricing-label" *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">{{seatrow.seatPricingInformation}}</div>
      <div class="seatrow container">
        <div *ngIf="seatChartConfig?.showRowsLabel">
          <div class="row-label"> {{seatrow.seatRowLabel}} </div>
        </div>
        <div *ngFor="let seatobj of seatrow.seats">
          <div class="seat-item seat-space" style="color:white ; background-color:white" *ngIf="seatobj.seatLabel == ''">
            &nbsp; </div>
          <div placement="top" [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable' }"
            (click)="selectSeat(seatobj)" *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''">{{seatobj.seatLabel}}</div>
  
          <div placement="top" [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }" *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{seatobj.seatLabel}}</div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<div style="text-emphasis-color: #ffffff; width: 100%; height: 20px; background: rgb(121, 118, 118); text-align: center; opacity: 60%;">TELA</div>
<mat-dialog-actions>
    <button style="width: 100%;" [disabled]="cart?.selectedSeats?.length == 0" (click)="processBooking()" type="submit" class="but" mat-flat-button color="accent">Reservar</button>
</mat-dialog-actions>
  